* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    border: 0 ;
}
header{
    position: fixed;
    top: 0;
    left: 0;   
    height: 80px;
    width: 100%;
    padding: 20px 80px;
    background-color: #fff;
}
header::after {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo {
    font-family: poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #00c853;
    
}
.toggle-btn {
    display: none;
    cursor: pointer;
}

.toggle-btn .bar {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #00c853;
}
.links {
    display: flex;
    gap: 20px; 
    align-items: center;
    justify-content: center;
}
.links a{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #90a4ae;
}
.links a:hover{
    color: #00c853;
}
.login-button {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #00c853;
    color: #fff;
}
.hero{
    display: flex;
    gap: 20px;
    padding: 80px 0; 
    justify-content: center;
    height: 100vh-80px !important;

}
.hero-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    
   
    margin-top: 80px;
    margin-bottom: 80px;

}
.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}
.intro{
    margin-top: 80px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
}.intro-text {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 20px;
    color: #455a64;
}
.buy-now {
    border: none;
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 2px;
    background-color: #00c853;
    color: #fff;
    margin-bottom: 40px;
}

.image-responsive{
    display: block;
        max-width: 100%;
        height: auto;
}
.features-section{
    display: flex;
    flex-direction: column;
    background-color: #eceff1;
}
.features-title{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 70px;
}
.features-subtitle{
    font-size: 38px;
    font-weight: 400;
    text-align: center
}
.features-text{
    text-align: center;
    margin: 8px 300px;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.single-feature{
    display: flex;
    flex-direction: column;
    max-width: 292px;
    height: 345px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
}

.img-feature{
    width: 64px;
    height: 64px;
}
.feature-h3{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
.feature-p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}
.virtual-view{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.virtual-container{
    flex: 1;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 30px;
}
.virtual-h2 {
    font-size: 36px;
    font-weight: 400;
}
.virtual-image{
    display: block;
    max-width: 100%;
    height: auto;
}
.virtual-video{
    display:flex;
    background-color: #eceff1;
    
}
.virtual-video-container{
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.virtual-video-h2{
    font-size: 36px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 20px;
}
.btn-padding{
    margin-top: 20px;
    margin-left: 20px;
}
.virtual-video-p{
    margin-left: 20px;
}
.virtual-video-container-2 {
    flex: 1;
}
.video-frame{
    display: block;
    width: 100%;
    height: auto;
}
.testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
}
.testimonial-title{
    font: size 48px;
    font-weight: 500;
    margin-top: 30px;
}
.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.testimonial-image{
    border: 1px solid #eceff1;
    border-radius: 50%;
    width: 128px;
    height: 128px;
}
.testimonial-desc{
    font-size: 18px;

}
.testimonial-author{
    text-transform: capitalize;
}
.banner{
    background-image: url('src/images/cta.jpg');
    height: 520px;
    width: 100%;
    color: #fff;
    
}
.banner-text{
    float: right;
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 500px;
    margin-right: 40px;
    margin-top: 60px;
    padding: 10px;
}
.banner-title{
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
}
.banner-desc{
    text-align: left;
    font-weight: 500;
}
.banner-detail{
    font-size: 16px;
    font-weight:300;
}
.banner-buy{
    width: max-content;
    padding: 6px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #00c853;
    border: none;
    border-radius: 5px;
}

.banner-two {
    background-image: url('src/images/pitch_bg.jpg') ;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    width: 100%;
    height:600px;
    color: #292626;
    padding-top: 100px;
    padding-bottom: 100px;

}

.banner-two-text {
    float: right;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.banner-two-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.banner-two-detail {
    font-size: 16px;
    font-weight: 300;
    margin-top: 1px;
    
}
.color-title {
    margin-top: 3px;
}
.banner-two-colors {
    display: flex;
    gap: 16px;
}
.color-one{
    background-color: #00c853;
    width: 16px;
    height: 16px;
}
.color-two{
    background-color: #30080d;
    width: 16px;
    height: 16px;
}
.color-three{
    background-color: #3b20af;
    width: 16px;
    height: 16px;  
}

.shipping{
   margin-top: 3px; 
}
.amazon{
    width: 150px;
    height: 48px;
}
.banner-two-buy {
    width: max-content;
    padding: 6px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #00c853;
    border: none;
    border-radius: 5px;
}
.subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eceff1;
    width: 100%;
}
.subscription-content{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.subscription-h2{
    font-size: 32px;
    font-weight: 300;
    text-align: center;
   
}
.subscription-p{ 
    font-size: 18px;
    font-weight: 200;
    text-align: center;
 }
.form-input{
    width: 400px;
    max-width: 100%;
    position: relative;
    margin:20px auto;
}
.input-type{
    width: 100%;
    height: 36px;
    padding: 4px;
    border: none;
    border-radius:5px;
    outline: none;
}
input[type=text]:focus {
    border: none;
}
.input-btn{
    height: 100%;
    position: absolute;
    right: 0;
    width: max-content;
    padding: 6px 24px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: #00c853;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.footer-container{
    display: flex;
    padding: 20px;
    gap: 50px;
}
.footer-text{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
.footer-text h2{
    background-color: #00c853;
    color: #fff;
    font-size: 24px;
    width: max-content;
    padding: 2px;
}
.footer-text p{
    font-size: 14px;
}
.footer-links{
    flex: 1;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
}
.footer-links-one{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer-links-one a{
    text-decoration: none;
    color: #292626;
    font-weight: 700;
    font-size: 14px;
}

@media (max-width: 756px) {
    .wrapper{
        max-width: 420px;
            margin: 0 auto;
            padding: 0 20px;
            border: 0;
    }
    header {
        padding:20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    .navbar{
        
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-left: 0;
    }
    .toggle-btn{
        display: block;
        margin-right: 0;
    }

    .toggle-btn.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .toggle-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .links{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-link{
        margin: 6px 10px;
    }
    .links.active{
        left: 0;
    }
    .login-button{
        width: 100%;
        border-radius: 3px;
    }

    .hero{
        flex-direction: column;
        gap: 2px;
        margin-top: 20px;
        
    }
    .hero-item{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: flex-start;

    }
    .intro{
        font-size: 30px;
        font-weight: 500;
        line-height: 1.1;
        color: #333333;
    }
    .buy-now {
        margin-bottom: 10px;
    }
    .hero-image{
        margin-top: 10px;
    }
    .image-responsive{
        display: block;
        margin-top: 5px;
        max-width: 100%;
        height: auto;
    }
    .features-title{
        margin-top: 60px;
    }
    .features-subtitle{
        font-size: 30px;
        font-weight: 500;
        color: #333;
    }
    .features-text {
        text-align: center;
        margin: 5px 10px;
    }
    .features{
        gap: 10px;
    }
    .virtual-view {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .virtual-container {
        flex: 1;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 0;
    }

    .virtual-h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 40px;

    }
    .virtual-p{
        margin-top: 20px;
        font-weight: 300;
    }

    .virtual-image {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .virtual-video {
        display: flex;
        background-color: #eceff1;
        flex-direction: column;
        gap: 20px;
    }

    .virtual-video-container {
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .virtual-video-h2 {
        font-size: 30px;
        font-weight: 500;
        margin-top: 40px;
        margin-left: 1px;
    }

    .btn-padding {
        margin-top: 20px;
        margin-left: 0;
    }

    .virtual-video-p {
        margin-top: 20px;
        margin-left: 1px;
    }

    .virtual-video-container-2 {
        flex: 1;
    }

    .video-frame {
        display: block;
        width: 100%;
        height: auto;
    }
    .banner-two{
        padding: 0 10px;
    }
    .subscription{
        padding: 0 10px;
    }
    .subscription-content {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subscription-h2 {
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        padding: 10px;
    }

    .subscription-p {
        font-size: 14px;
        font-weight: 200;
        text-align: center;
        padding: 10px;
        margin: 0 10px;
    }
    .form-input {
        width: 350px;
        position: relative;
        margin: 20px auto;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
}